<config>
    <modules>
        <GlobalThinking_HelloWorld>
            <version>0.1.0</version>
        </GlobalThinking_HelloWorld>
    </modules>
    <frontend>
    	<routers>
    		<gthelloworld>
    			<use>admin</use>
    			<args>
    				<module>GlobalThinking_HelloWorld</module>
    				<frontName>gthelloworld</frontName>
    			</args>
    		</gthelloworld>
    	</routers>
    </frontend>
</config>
